@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
  --border: #1F2937;
  --card: #111827;
  --primaryAccent: #92400E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0F14;
    --foreground: #E5E7EB;
    --border: #1F2937;
    --card: #111827;
    --primaryAccent: #92400E;
  }
}

.card {
  @apply flex flex-1 flex-col m-2 border border-white/10 bg-gradient-to-br from-white/10 to-white/2 p-6 shadow-md rounded-xl;
}
.quick-action-card {
  @apply flex flex-1 flex-col m-2 bg-linear-to-br from-black to-orange-500/5  border-black border-0 hover:border hover:border-orange-500 hover:bg-orange-500/20 hover:scale-105 p-6 shadow-md rounded-xl cursor-pointer transition-transform duration-200 w-45;
}

.qa-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
}

.qa-icon svg {
  width: 100%;
  height: 100%;
}

.categoryCard{
  @apply bg-white/10 flex-1 rounded-xl p-4 min-w-[290px] overflow-scroll h-[500px] 
}

.categoryCard h1{
  @apply text-[22px]
}

input, textarea, select {
  @apply bg-transparent rounded-md outline-none 
}
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  @apply border-transparent;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}input[type="number"] {
  -moz-appearance: textfield;
}

.placeholder-pulse::placeholder {
  animation: placeholderPulse 1.8s ease-in-out infinite;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}